@font-face {
    font-family: NeurialGrotesk;
    font-weight: 400;
    src: url("../fonts/NeurialGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeurialGrotesk-Bold;
    font-weight: 700;
    src: url("../fonts/NeurialGrotesk-Bold.otf") format("opentype");
}

@font-face {
    font-family: NeurialGrotesk-Med;
    font-weight: 500;
    src: url("../fonts/NeurialGrotesk-Medium.otf") format("opentype");
}