/** @format */

$primary_color: #552d83;
$secondary_color: #fafafa;
$menu_font: #18191f;
$text_color: #8c8ca2;
$purple_background: #260d43;
$header_font_color: #333333;

$navbar-padding-y: 3rem;

$banner_font_color: #0a0a0a;

$font_regular: NeurialGrotesk;
$font_bold: NeurialGrotesk-bold;
$font_med: NeurialGrotesk-med;
